<!Doctype HTML>
<html>
	<head>
		<script type="text/javascript" src="js/angular.min.js"></script>
	</head>
	<body ng-app>
		<input ng-model="searchText" type="text" value="" placeholder="Enter movie name"/>
		<div>
			<ul ng-controller="MoviesListController">
				<li ng-repeat="movie in movies | filter:searchText">
					<h4><img src="{{movie.imgUrl}}" />{{movie.rank}}{{movie.name}}</h4>
				</li>
			</ul>
		</div>
	</body>

	<script type="text/javascript">
		function MoviesListController($scope, $http){
			$http.get("data/movies.json").success(function(data){
				$scope.movies = data;
			});
		}
	</script>
</html>