<div class="navbar">
	<div class="navbar-inner navbar-fixed-top">
		<div class="brand">Movie Listing</div>
		<span class="divider-vertical"></span>
		<form class="navbar-search pull-right">
			<input class="search-query" ng-model="searchText" type="text" value="" placeholder="Enter movie name"/>
		</form>
	</div>
</div>
<table class="table table-hover">
	<thead>
		<tr>
			<th>#</th>
			<th>Image</th>
			<th>Title</th>
			<th>IMDB Rating</th>
		</tr>
	</thead>
	<tbody>
		<tr class="movie_details" ng-repeat="movie in movies | filter:searchText">
			<td>{{movie.rank}}</td>
			<td><img class="img-polaroid img-rounded" ng-src="{{movie.imgUrl}}" /></td>
			<td><a ng-href="#/details/{{movies.indexOf(movie)}}">{{movie.name}} <span class="movie_year">({{movie.date | limitTo:4}})</span></a></td>
			<td class="ratings">{{movie.rating | number:1}}</td>
		</tr>
	</tbody>
</table>
